@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
        --gap: 5px;
}

body {
        margin: 0;
        padding: 0;
        height: 100vh;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        font-size: 42px;
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}

body,
.calculator, 
.buttons,
.operatorButtons, 
.nonOperatorButtons, 
.numericalButtons, 
.numericalButtonsRowZero,
.numericalButtonsRowOne,
.numericalButtonsRowTwo,
.numericalButtonsRowThree,
.numericalButtonsRowFour  {
        display: flex;    
}

.calculator,
.operatorButtons,
.nonOperatorButtons,
.numericalButtons {
        flex-direction: column;
}

.calculator {
        background-color: #F1DEC6;
        flex: 0 1 400px;
        height: 40vh;
        padding: 10px;
        border-radius: 20px;
        border: 2px solid black;
}

.display {
        flex: 1 1 20%;
        text-align: right;
}

.buttons {
        flex: 1 1 80%;
}

.nonOperatorButtons {
        flex: 1 1 75%;
}

.operatorButtons {
        flex: 1 1 25%;
}

.numericalButtons {
        flex: 1 1 20%;
}

.numericalButtonsRowZero,
.numericalButtonsRowOne,
.numericalButtonsRowTwo,
.numericalButtonsRowThree,
.numericalButtonsRowFour {
        flex: 1 1 20%;
}

.buttons,
.operatorButtons,
.nonOperatorButtons,
.numericalButtons,
.numericalButtonsRowZero,
.numericalButtonsRowOne,
.numericalButtonsRowTwo,
.numericalButtonsRowThree,
.numericalButtonsRowFour {
        gap: 5px;
}

.btn {
        border-radius: 20px;
        border: 2px solid black;
        font-size: 32px;
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}

#btnAdd,
#btnSubtract,
#btnMultiply,
#btnDivide,
#btnEquals {
        background-color: #179BAE;
        flex: 1 1 auto;
}

#btnClear,
#btnDelete {
        background-color: #4158A6;
}

/* 
Formula to change width to of flex basis to compensate for gap:
width: (100% / n) - (((n -1) / n) * g); 
*/

#btnClear {
        flex: 1 1 calc((100% * 2 / 3) - ((1 / 3) * var(--gap)));
}

#btnDelete {
        flex: 1 1 calc((100% * 1 / 3) - (((3 - 1) / 3) * var(--gap)));
}

#btnNum1,
#btnNum2,
#btnNum3,
#btnNum4,
#btnNum5,
#btnNum6,
#btnNum7,
#btnNum8,
#btnNum9,
#btnNum0,
#btnDot {
        background-color: #FF8343;
        flex: 1 1 auto;
}

#btnNum0 {
        flex: 1 1 calc((100% * 2 / 3) - ((1 / 3) * var(--gap)));
}

#btnDot {
        flex: 1 1 calc((100% * 1 / 3) - (((3 - 1) / 3) * var(--gap)));
}